.main{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    justify-content: center;
    align-items: center;

}
.name_page{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name_page__block{
    display: flex;

}
.name_page__block div{
    font-size: 20px;
}
.name_page__block__txt_decor{
    padding: 0 10px;
}
.main__main_content_about{
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;

}
.main_content_about__txt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;

}
.main_content_about__txt p{
    text-shadow: 1px 4px 43px rgba(0,0,0,0.91);
}
.main_content_about__txt>div{
    text-align: center;
    width: 500px;
}
.main_content_about__img{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center
}

.main__main_content_about img{
    width: 400px;
}
