.header__back-btn{
    display: none;
}
.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(to top, #000000, transparent);

}
.delivery{
    width: 150px;
    height: 50px;
    background: #fff;
    color: #000;
    font-size: 19px;
    border-radius: 50px 0 0 50px;
    position: fixed;
    z-index: 11;
    top: 200px;
    right: 0;
    padding-left: 10px;
    transition: 1s;
}
.delivery h4{
    color: black;
}
.delivery:hover{
    width: 200px;
    font-size: 22px;
}
.main__main_context{
    flex-direction: column;
    row-gap: 10px;
    padding: 75px;
    /*background: radial-gradient(ellipse farthest-corner at center center, #000000 0%, rgba(255,255,255,0) 80%);*/
    text-shadow: 3px 1px 7px rgba(0,0,0,0.87);
    background: radial-gradient(ellipse farthest-corner at center center, rgba(0,0,0,0.7) 0%, rgba(255,255,255,0) 85%);
}
.main_context__name{
    font-size: 60px;
}
.tomato{
    color: tomato;
}
.main_context__slog{
    font-size: 30px;
}